<?xml version="1.0" encoding="utf-8"?>
<!--
  Per altre informazioni su come configurare l'applicazione ASP.NET, vedere
 https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
  
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <section name="resizer" type="ImageResizer.ResizerSection" requirePermission="false" />
  </configSections>
 
  <system.web>
    <!--<customErrors mode="On">
      <error statusCode="404" redirect="/contents/PageNotFound.aspx" />
      <error statusCode="500" redirect="/contents/Error.aspx" />
    </customErrors>-->
     <customErrors mode="Off">
      <!--<error statusCode="404" redirect="/contents/PageNotFound.aspx" />
      <error statusCode="500" redirect="/contents/Error.aspx" />-->
    </customErrors>
    <!-- autenticazione windows form-->
    <authentication mode="Forms">
      <forms loginUrl="Contents/Login.aspx" name=".ASPXFORMSAUTH"></forms>
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" maxRequestLength="30720" executionTimeout="600"/>
  <httpModules>
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
    </httpModules></system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="AiChatBotConn" connectionString="data source=TELMOR\test;initial catalog=prova;user id=sa;password=revihcra;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
   <add name="AiChatBotConn" connectionString="data source=TELMOR\test;initial catalog=AIChatbot;user id=sa;password=revihcra;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <!--<add name="AiChatBotConn" connectionString="data source=TELMOR\test;initial catalog=aa;user id=sa;password=revihcra;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <!--<add name="AiChatBotConn" connectionString="data source=WORKSTATION\SQLEXPRESS01;initial catalog=AIChatbot;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="CriptographyKey" value="Aut$!3" />
    <add key="LogPath" value="~/Public/Log/" />
    <add key="Re2017ApiUrl" value="http://2.235.241.7:8080/" />
    <!--<add key="Re2017ApiUrl" value="http://re2017-app.azurewebsites.net/" />-->
    
  </appSettings>
<system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
    </modules>
  <rewrite>
      <rules>
        <rule name="Root_rule" stopProcessing="true">
          <match url="^/?$" />
          <action type="Rewrite" url="/Contents/Default.aspx" />
        </rule>
        <rule name="ToTrackManagement" stopProcessing="true">
          <match url="^TrackManagement.aspx$" ignoreCase="true"/>
          <action type="Redirect" url="/Contents/TrackManagement.aspx" redirectType="Permanent"/>
        </rule>
        <rule name="ToTemplates" stopProcessing="true">
          <match url="^Templates.aspx$" ignoreCase="true"/>
          <action type="Redirect" url="/Contents/Templates.aspx" redirectType="Permanent"/>
        </rule>
            <rule name="ToUsers" stopProcessing="true">
          <match url="^Users.aspx$" ignoreCase="true"/>
          <action type="Redirect" url="/Contents/Users.aspx" redirectType="Permanent"/>
        </rule>
   <rule name="ToUserDetail" stopProcessing="true">
          <match url="^UserDetail.aspx$" ignoreCase="true"/>
          <action type="Redirect" url="/Contents/UserDetail.aspx" redirectType="Permanent"/>
        </rule>
    </rules>
  </rewrite>
  </system.webServer>
  <resizer>
	<plugins>
	<add name="DiskCache" />
	<add name="PrettyGifs" /></plugins>
	</resizer></configuration>